<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.techuni.TechUniInviteSystem.db.mapper.CustomInviteMapper">

    <update id="addUsedCountToInvite">
        UPDATE invite
        SET invite.used = invite.used + #{amount}
        WHERE invite.id = #{inviteId}
    </update>

</mapper>