<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.techuni.TechUniInviteSystem.db.mapper.InviteWithDiscordStateMapper">

    <!-- getUserByNameセレクトクエリ -->
    <select id="getInviteByState" parameterType="String" resultMap="org.techuni.TechUniInviteSystem.db.mapper.base.InviteMapper.BaseResultMap">
        SELECT
            i.*
        FROM
            invite i
                LEFT JOIN
            invite_discord_state ids ON i.id = ids.invite_id
        WHERE
            ids.state = #{state}
    </select>

</mapper>